*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --red-color:#D4242E;
}
.navbar{
  height: 100px;
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* .navbar .navbar-logo img{
  object-fit: cover;
} */
.navbar-links{
  display: flex;
}

.navbar-links a{
  text-decoration: none;
  color: black;
}
.navbar-links li{
  padding:0 12px 0px 12px;
  list-style: none;
}

.hero-content{
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;

}
.hero-left{
  width: 60%;
}
.hero-right{
  width: 40%;
}
.hero-left h1{
  line-height: 1;
  font-size: 5vw;
}
p{
  margin: 3vw 0 3vw 0;
  line-height: 2;
}

.category-btn{
  margin-left:2vw;
}